.input-field input[type="email"]:focus,
.input-field input[type="text"]:focus,
.input-field input[type="email"].valid,
.input-field input[type="text"].valid {
     border-bottom: 1px solid   #589442;
     box-shadow: 0 1px 0 0   #589442;
}

.input-field input[type="email"],
.input-field input[type="text"] {
     border-bottom: 1px solid   white;
}

.input-field label {
  color: white;
}
