#title {
  padding-top: 20%;
  font-size: 50px;
  text-align: center;
}
/*title is duplicated*/

#login_wrapper {
  margin-top: 60%;
}

.login_button {
  display: flex;
  margin-bottom: 5%;
}

.btn-large {
  width: 60%;
  margin: auto;
}

.divider_container {
  text-align: center;
  width: 60%;
}

.col.s2.seperator {
  line-height: 0;
}
