.upper_div {
 display: flex;
 height: 40px;
 background-color: #589442;
 color: #FFF;
 font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
 font-size: 16px;
 -webkit-font-smoothing: antialiased;
}

.restaurant_name {
 margin: auto;
 text-align: center;
}

.col.s4.pic {
  height: 100px;
  background-image: url("https://b.zmtcdn.com/data/pictures/chains/4/6100234/2c141df6ab0b59ed90a08084264a423b_featured_v2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.col.s8 {
  font-size: 17px;
  margin: auto;
  -webkit-font-smoothing: antialiased;
}
