body {
  border: 0;
}

.restaurant {
  background-image: url("https://b.zmtcdn.com/data/pictures/chains/0/6100580/5f113fc379bf1daf5e57f60ca65e7d35_featured_v2.jpg");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  height: 400px;
  width: 100%;
}


.restaurant2 {
  background-image: url("https://b.zmtcdn.com/data/pictures/chains/4/6100234/2c141df6ab0b59ed90a08084264a423b_featured_v2.jpg");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  height: 400px;
  width: 100%;
}


.restaurant_title {
  color: white;
  text-align: center;
  padding-top: 15%;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 80px;
}

#nav_bar {
  background-color: #4169E1;
  height: 120px;
  position:fixed;
  width: 100%;
  padding-left: 1%;
  bottom:0;
  left:0;
  border: 20px;
}

.home_icon {
  padding-top: 6px;
  padding-left: 45px;
  padding-bottom: 6px;
}
