body {
  border: 0;
}

.title {
   position: absolute;
   padding-top: 130px;
   width: 100%;
   color: white;
   text-align: center;
   font-size: 100px;
   font-family: "Lucida Console", Monaco, monospace;
}
.restaurant img {
  height: 450px;
  width: 100%;
}

.restaurant {
  height: 400px;
  width: 100%;
  display: flex;
}

#nav_bar {
  background-color: #4169E1;
  height: 120px;
  position:fixed;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  bottom:0;
  left:0;
  border: 20px;
}

.home_icon {
  padding-top: 6px;
  padding-left: 45px;
  padding-bottom: 6px;
}
