doctype html
html
  head
    meta(charset='utf-8')
    title restaurant_rater
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(type='text/css', rel='stylesheet', href='/css/materialize.css', media='screen,projection')
    link(type='text/css', rel='stylesheet', href='/css/create_group.css')
  body
    #heading
      | Invite friends
    #form_container
      a(href='mailto:?body=http://localhost:8080/accept_invite/?group_name=' + groupName + '&subject=thisbethesubject') INVITE
    // Import jQuery before materialize.js
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='/js/materialize.min.js')
