doctype html
html
  head
    link(type='text/css', rel='stylesheet', href='/site.css')
    title RR
  body
    #logo
    |  RR
    #chef_hat
      img(src='https://camo.githubusercontent.com/05b3b168b0959e990151d0e5c13f8bd3416c42ea/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f3334383239362f313735373031362f30396436363364322d363637622d313165332d383365642d3861343737333862653661382e6a7067')
    #login_container
      #username
        | username
        hr.line_break
      #password
        | password
        hr.line_break
      #white_space
      #login
        | Sign In
