<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>insights_intake</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../public/css/materialize.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="../public/css/login.css">
  </head>
  <body>
    <class="logo_container">
      <div id="title">
      </div>
    </div>

    <div id="login_wrapper">
      <div class="login_button">
        <a class="waves-effect waves-light btn-large">Create account</a>
      </div>
      <div class="row divider_container">
        <div class="col s5 divider">
        </div>
        <div class="col s2 seperator">
          Or
        </div>
        <div class="col s5 divider">
        </div>
      </div>

      <div class="login_button">
        <a class="waves-effect waves-light btn-large">Sign In</a>
      </div>
    </div>






    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../public/js/materialize.min.js"></script>
  </body>
</html>
