body {
  background: white;
}
#logo {
    font-family:"Courier New", Courier, monospace;
    font-weight: 500;
    font-size: 120px;
    text-align: center;
    padding-top: 15%;
}

#chef_hat {
  margin-left: 35%;
  margin-right: 35%;
}

#login_container {
  padding-top: 35%;
}

#username {
  text-align: center;
  font-size: 60px;
  font-family: "Courier New";
}

#password {
  padding-top: 5%;
  text-align: center;
  font-size: 60px;
  padding-bottom: 5%;
  font-family: "Courier New";
}

.line_break {
  width: 65%;
  color: #f00;
  background-color: #dde6ee;
  height: 5px;
}

#white_space {
  padding-top: 40px;
}

#login {
  color: white;
  font-family: "Courier New";
  width: 65%;
  height: 130px;
  background: #648cb4;
  font-size: 60px;
  text-align: center;
  vertical-align: middle;
  line-height: 200%;
  margin: auto;
}
