<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>restaurant_rater</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="../public/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../public/css/loginFB.css">
  </head>
  <body>
    <div id="title">
      Log in through Facebook
    </div>
    
    <form action="/auth/facebook">
      <input type="submit" value="Facebook" class="waves-effect waves-light btn"/>
    </form>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../public/js/materialize.min.js"></script>
  </body>
</html>

<!-- 
<input id="myTxtbox" type="text">
  <a href="http://yahoo.com">
    http://yahoo.com
  </a>
</input>
<a class="waves-effect waves-light btn">button</a> -->