doctype
html
  head
    My Site
    link(type='text/css', rel='stylesheet', href='/restaurants.css')
  body
    h1 My Site
    p Running on node with Express, Jade and Stylus
    h1 #{title}
    img(src=title)
