p {
  font-size: 100px;
}

#container {
  font-size: 200px;
}

img {
  height: 600px;
  width: 100%;
  position: relative;
}

h4 {
  font-size: 60px;
  color: white;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}

.restaurant_title {
  font-size: 60px;
}

#nav_bar {
  background-color: #4169E1;
  height: 120px;
  position:fixed;
  width: 100%;
  padding-left: 2%;
  bottom:0;
  left:0;
  border: 20px;
}

.home_icon {
  padding-top: 6px;
  padding-left: 45px;
  padding-bottom: 6px;
}

.restaurant_title {
  color: white;
  text-align: center;
  padding-top: 15%;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 80px;
}
