p {
  font-size: 100px;
}

#container {
  display: block;
}

img {
  height: 600px;
  width: 100%;
  position: relative;
}

h4 {
  font-size: 60px;
  color: white;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}
