<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>restaurant_rater</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/css/materialize.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="../public/css/restaurant_page.css">
  </head>
  <body>
    <div id="whole_wrapper">
      <div class="upper_div">
        <div class="restaurant_name"></div>
      </div>
      <div class="restaurant_image"><img></div>
      <div id="restaurant_container">
        <div class="restaurant_title"></div>
        <div id="circle_container">
          <div class="outer-circle">
            <div class="inner-circle"></div>
          </div>
          <div class="outer-circle">
            <div class="inner-circle"></div>
          </div>
          <div class="outer-circle">
            <div class="inner-circle"></div>
          </div>
          <div class="outer-circle">
            <div class="inner-circle"></div>
          </div>
          <div class="outer-circle">
            <div class="inner-circle"></div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row address_container">
        <div class="col s9 address">
          <p>Neighbourgood: </p>
        </div>
        <div class="col s3"></div>
      </div>
      <hr>
      <div class="row s">
        <div><i class="col s1 material-icons">language</i></div>
        <div class="col s10 website">Visit Website</div>
      </div>
      <div class="upper_div">
        <div class="restaurant_name"> </div>
      </div>
      <div class="restaurant_image"><img></div>
      <div id="restaurant_container">
        <div class="restaurant_title"></div>
        <div id="circle_container">
          <div class="outer-circle">
            <div class="inner-circle"></div>
          </div>
          <div class="outer-circle">
            <div class="inner-circle"></div>
          </div>
          <div class="outer-circle">
            <div class="inner-circle"></div>
          </div>
          <div class="outer-circle">
            <div class="inner-circle"></div>
          </div>
          <div class="outer-circle">
            <div class="inner-circle"></div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row address_container">
        <div class="col s9 address">
          <p>Neighbourgood: </p>
        </div>
        <div class="col s3"></div>
      </div>
      <hr>
      <div class="row s">
        <div><i class="col s1 material-icons">language</i></div>
        <div class="col s10 website">Visit Website</div>
      </div>
      <div class="upper_div">
        <div class="restaurant_name"> </div>
      </div>
      <div class="restaurant_image"><img></div>
      <div id="restaurant_container">
        <div class="restaurant_title"></div>
        <div id="circle_container">
          <div class="outer-circle">
            <div class="inner-circle"></div>
          </div>
          <div class="outer-circle">
            <div class="inner-circle"></div>
          </div>
          <div class="outer-circle">
            <div class="inner-circle"></div>
          </div>
          <div class="outer-circle">
            <div class="inner-circle"></div>
          </div>
          <div class="outer-circle">
            <div class="inner-circle"></div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row address_container">
        <div class="col s9 address">
          <p>Neighbourgood: </p>
        </div>
        <div class="col s3"></div>
      </div>
      <hr>

      <a href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <i class="material-icons">add</i>
      </a>


      <div class="row s">
        <div><i class="col s1 material-icons">language</i></div>
        <div class="col s10 website">Visit Website</div>Click<a href="mailto:?body=Click on the link below to join this new app to rate restaurants between friends : )&subject=Invitation to join Restaurant Rater      http://192.168.1.130:8080">here </a> to invite friends
      </div>
    </div>
    <a href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <div class="row navigation_footer"><i class="material-icons footer">create</i>
    </a>
    <i class="material-icons footer">favorite</i><i class="material-icons footer">add</i><i class="material-icons footer">location_on</i><i class="material-icons footer">create</i><i id="last_picture" class="material-icons footer">vpn_key</i></div>
    <!-- Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../public/js/materialize.min.js"></script>
  </body>
</html>