doctype
html
  head
    My Site
    link(type='text/css', rel='stylesheet', href='/restaurants.css')
  body
    h1 My Site #{title}
    p Running on node with Express, Jade and Stylus
    img(src="https://b.zmtcdn.com/data/pictures/chains/0/6100580/5f113fc379bf1daf5e57f60ca65e7d35_featured_v2.jpg")
