doctype
html
  head
    link(type='text/css', rel='stylesheet', href='/restaurants.css')
  body
    #container
     .restaurant_image
      h4 how are you
      img(src=title1)
    .restaurant_image
     img(src=title2)
     .restaurant_image
    .restaurant_image
     img(src=title1)
