body {
  border: 0;
}

.title {
   position: absolute;
   padding-top: 130px;
   width: 100%;
   color: white;
   text-align: center;
   font-size: 100px;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.restaurant img {
  height: 450px;
  width: 100%;
}

.restaurant {
  height: 400px;
  width: 100%;
  display: flex;
}

#nav_bar {
  background-color: #4169E1;
  height: 120px;
  position:fixed;
  width: 97.7%;
  bottom: 0;
}

.home_icon {
  padding-top: 6px;
  padding-left: 50px;
  padding-bottom: 6px;
}
