doctype html
html
  head
    meta(charset='utf-8')
    title insights_intake
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(type='text/css', rel='stylesheet', href='../public/css/restaurant_page.css')
  body
    .upper_div
      .restaurant_name
        | Sushi Samba
    .restaurant_image
    #restaurant_container
      .restaurant_title
        | Sushi Samba
      #circle_container
        .outer-circle
          .inner-circle
        .outer-circle
          .inner-circle
        .outer-circle
          .inner-circle
        .outer-circle
          .inner-circle
        .outer-circle
          .inner-circle
    hr
    .row.address_container
      .col.s9.address
        | 100 Shoreditch High Street, London E1 6JQ
        p Neighbourgood: Shoreditch
      .col.s3
    hr
    .row.s
      div
        i.col.s1.material-icons language
      .col.s10.website
        | Visit Website
    // Import jQuery before materialize.js
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
