<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>insights_intake</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../public/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../public/css/reviews.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div id="wrapper">
      <div class="upper_div">
        <div class="restaurant_name">
          Sushi Samba
        </div>
      </div>

      <div class="wrap">

        <div class="rating_text">
          Please rate the following
        </div>

        <div class="ratings">
          <div class="circle_container">
            <div class="circle">
            </div>
            <div class="circle">
            </div>
            <div class="circle">
            </div>
            <div class="circle">
            </div>
            <div class="circle">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Month visited</label>
            </div>
          </div>
        </form>
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Title</label>
            </div>
          </div>
        </form>
      </div>
      <div class="raters_review">
      </div>

      <div class="lower_div">
        <div class="restaurant_name">
          Submit
        </div>
      </div>
    </div>



    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../public/js/materialize.min.js"></script>
  </body>
</html>
