doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Restaurant Finder
    link(type='text/css', rel='stylesheet', href='/css/search.css')
  body
    #wrap
      input#user_input(type='text', <='', input='')
    .predicted_restaurant_wrap
      #restaurant0
    .predicted_restaurant_wrap
      #restaurant1
    .predicted_restaurant_wrap
      #restaurant2
    .predicted_restaurant_wrap
      #restaurant3
  script(src='/js/script.js')
