doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

    title Autocomplete Word Lookup like a Boss!
  body
    #main
      h1 Search your restaurant
      input#user_input(type='text', <='', input='')
    script(src='script.js')
