<!DOCTYPE html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Autocomplete Word Lookup like a Boss!</title>
    <link type="text/css" rel="stylesheet" href="search.css">
  </head>
  <body>
    <div id="wrap">
      <div id="user_input">
        <input type='text' id='user_input'</input>
      </div>
    </div>
    <div class="predicted_restaurant_wrap">
      <div class="restaurant">
        HLAFDSFDFLSA
      </div>
    </div>
    <div class="predicted_restaurant_wrap">
      <div class="restaurant">
        HLAFDSFDFLSA
      </div>
    </div>
    <div class="predicted_restaurant_wrap">
      <div class="restaurant">
        HLAFDSFDFLSA
      </div>
    </div>
    <div class="predicted_restaurant_wrap">
      <div class="restaurant">
        HLAFDSFDFLSA
      </div>
    </div>
  </body>
</html>
