doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Autocomplete Word Lookup like a Boss!
    link(type='text/css', rel='stylesheet', href='search.css')
  body
    #wrap
      input#user_input(type='text', <='', input='')
    .predicted_restaurant_wrap
      #restaurant0
        | 
    .predicted_restaurant_wrap
      #restaurant1
        | HLAFDSFDFLSA
    .predicted_restaurant_wrap
      #restaurant2
        | HLAFDSFDFLSA
    .predicted_restaurant_wrap
      #restaurant3
        | HLAFDSFDFLSA
  script(src='script.js')
