doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Autocomplete Word Lookup like a Boss!
    link(type='text/css', rel='stylesheet', href='search.css')
  body
    #wrap
      #user_input
        input#user_input(type='text', <='', input='')
    .predicted_restaurant_wrap
      .restaurant
        | HLAFDSFDFLSA
    .predicted_restaurant_wrap
      .restaurant
        | HLAFDSFDFLSA
    .predicted_restaurant_wrap
      .restaurant
        | HLAFDSFDFLSA
    .predicted_restaurant_wrap
      .restaurant
        | HLAFDSFDFLSA
