<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>insights_intake</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../public/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../public/css/top-ten.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>

    <div class="upper_div">
      <div class="restaurant_name">
        Sushi Samba
      </div>
    </div>

    <div class="row">
      <div id="border">
        <div class="col s4 pic">
      </div>

      </div>
      <div class="col s8">
        Ace Hotel London Shoreditch
      </div>

      <div class="col s7" id="circle_container">
        <div class="outer-circle">
          <div class="inner-circle">
          </div>
        </div>
        <div class="outer-circle">
          <div class="inner-circle">
          </div>
        </div>
        <div class="outer-circle">
          <div class="inner-circle">
          </div>
        </div>
        <div class="outer-circle">
          <div class="inner-circle">
          </div>
        </div>
        <div class="outer-circle">
          <div class="inner-circle">
          </div>
        </div>
      </div>

    </div>



    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../public/js/materialize.min.js"></script>
  </body>
</html>
