#heading {
  margin-top: 10%;
  margin-left: 10%;
  color: #1c7d73;
  font-size: 35px;
  font-family: 'Reem Kufi', sans-serif;
  letter-spacing: 2px;
}

#form_container {
  margin-left: 6%;
  padding: 15px;
  font-size: 15px;
}
