body {
  background: white;
}

#logo {
    font-family:"Courier New", Courier, monospace;
    font-weight: 500;
    font-size: 120px;
    text-align: center;
    padding-top: 15%;
}

#chef_hat {
  margin-left: 35%;
  margin-right: 35%;
}
